:root {
  --color-primary: #F1D87A;
  --color-secondary: #deb317;
  --color-title: #398df5;
  --color-light: #e7e2e2;
  --color-background: #F1D87A;
}

p,
h2,
h1 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: var(--color-title)
}


body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  background-color: var(--color-background);
  color: #333;
}

#app {}

.game {
  /* background-color: #fff; */
  padding: 10px;
  margin: 10px;
}

.validation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.validation button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to bottom, #F6BA79, #F29C3F);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-decoration: none;
}

button {
  margin: 0 5px;
  background-color: #F29C3F;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.validation button:hover {
  background: linear-gradient(to bottom, #F9C68A, #F6BA79);
}

.validation button:active {
  box-shadow: 0 2px 0 #c7762e;
  transform: translateY(2px);
}

svg {
  width: 20px;
  margin-right: 5px;
}

.validation svg {
  width: 20px;
  height: 20px;
}

.scrabble-grid {
  margin: 10px;
}

.rack {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.tile {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  background: linear-gradient(to bottom, #F1D87A, #deb317);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: grab;
  user-select: none;
  position: relative;
  border-radius: 10px;

}

.points {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 0.6rem;
  font-weight: normal;
}

button,
.nav a {
  background-color: var(--color-secondary);
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

button:hover,
.nav a:hover {
  background-color: #c9a715;
}

#app .home {
  /* background-color: #fff; */
  margin: 10px;
  padding: 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

#app .home .game-menu {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 100vh;
  background-color: var(--color-primary);
  color: #333;
}

.grid-menu {
  display: flex;
  justify-content: center;
}